
.heading
{
font-size:x-large;
width: 100%;
margin: 0px;
font-family: 'Times New Roman', Times, serif;
}

#status
{
font-size: 18px;
}

body {
background-image: url('c.gif');
background-size: cover;
background-position: center;
}

canvas {
box-shadow: none;
border-radius: 30px;
}